
#title{
  background-color :#ff4c68;
}
body{
  font-family: "Montserrat";

}
h1{
  font-family:"Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
h3{
  /* color:#ff4c68; */
  font-family: "Montserrat";
  font-weight: bold;
}
/* h3 line modifing */
 .size{
  width: 500px;
padding-right: 170px;}
p{
  color: grey;
}
.container-fluid{
  padding: 3% 15% 7% ;
}
.navbar{
  padding-bottom: 4.5rem;
}
/* navigation bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 200;
}
/* download-button */
.download-button{
margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(28deg);
  position: absolute;
  right: 30%;

}
.image{
  position: relative;
}
/* features section */
#features{
  padding: 7% 15%;
  color: #ff4c68;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
    text-align: center;
  padding:3%;
}
.icon{
  color:#ef8172;
  padding-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

/* testimonial section */
#testimonials{
  text-align: center;
  background-color:#ef8172;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  border-radius:100%;
  width: 10%;
  margin: 3%;
}
/* press section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
/* CTA SECTION */
#cta{
  background-color:#ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
  font-family: "Montserrat";
}
.cta-heading{
  font-family: "Montserrat";
  font-weight: black;
  font-size: 3.5rem;
  line-height: 1.5;

}
/* FOOTER SECTION */
#footer{
  text-align: center;
  padding: 7% 15%;
}
.social-icon{
  margin: 1%;
  margin-bottom: 2%
}

/* @media section */
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
